doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", type="text/css", href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.2/js/esri/css/esri.css")
    script(type='text/javascript', src='http://serverapi.arcgisonline.com/jsapi/arcgis/?v=3.1')
  body
    block content
